body{
    background-color: antiquewhite;
}


nav{
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}
nav a{
    width: 5em;
    padding: 0.5em;
    margin: 0 1em;
    border: 1px solid black;
}

.asideParent{
    display: flex;
}
aside{
    border: 1px dotted blue;
    width: 20%;
}